<div class="container-fluid row justify-content-evenly">
    <div class="card border-secondary m-2 p-2" style="width: 18rem;">
        <img src="../../../assets/ahorcado.png" class="card-img-top" alt="Foto del Ahorcado">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Adiviná letra por letra la palabra secreta y escapá del destino fatal.</p>
          <button routerLink="ahorcado" class="btn btn-secondary">Jugar</button>
        </div>
    </div>
    <div class="card border-secondary m-2 p-2" style="width: 18rem;">
        <img src="../../../assets/mayor_o_menor.png" class="card-img-top" alt="Foto del Mayor o Menor">
        <div class="card-body">
          <h5 class="card-title">Mayor o Menor</h5>
          <p class="card-text">¿Será más grande? ¿Será más chico? Poné a prueba tu suerte.</p>
          <button routerLink="mayor-o-menor" class="btn btn-secondary">Jugar</button>
        </div>
    </div>
    <div class="card border-secondary m-2 p-2" style="width: 18rem;">
      <img src="../../../assets/preguntados.png" class="card-img-top" alt="Foto del Preguntados">
      <div class="card-body">
        <h5 class="card-title">Cuestionados</h5>
        <p class="card-text">Respondé preguntas de distintas categorías y comprobá qué tanto sabes de lo que sea.</p>
        <button routerLink="consultados" class="btn btn-secondary">Jugar</button>
      </div>
  </div>
</div>