<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container justify-content-center">
            <a class="navbar-brand justify-content-center m-1" routerLink="/" routerLinkActive="active-link">{{ title }}</a>
            <div class="navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav flex-row justify-content-evenly">
                    <a class="nav-link" routerLink="/" routerLinkActive="active-link">Home</a>
                    <a class="nav-link" routerLink="/quien-soy" routerLinkActive="active-link">Quién Soy</a>
                    <a class="nav-link btn btn-outline-info p-2" routerLink="/login" routerLinkActive="active-link">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="p-5">
    <router-outlet></router-outlet>
</main>
<footer class="container pt-3 mb-3 border-top d-flex justify-content-center">
    <span>Lorenzo Cea &copy; 2022</span>
</footer>