<div class="container card border-primary p-4 rounded-3 bg-primary">
    <form class="border-bottom">
        <div class="form-floating input my-3">
            <input class="form-control" type="text" id="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Nombre de usuario">
            <label class="text-muted" for="nombre">Nombre de usuario</label>
        </div>
        <div class="form-floating input my-3">
            <input class="form-control" type="password" id="clave" [(ngModel)]="clave" name="clave" placeholder="Contraseña">
            <label class="text-muted" for="clave">Contraseña</label>
        </div>
        <button class="btn btn-info w-100 p-3 mb-4" (click)="iniciarSesion()">Iniciar sesión</button>
        <a routerLink="/recuperar"><p class="btn-link text-center">Olvidé mi contraseña</p></a>
    </form>
    <button routerLink="/registro" class="btn btn-outline-success w-100 p-2 my-3">Registrarse</button>
</div>