<div class="container-fluid d-flex">
    <div class="row justify-content-evenly align-items-center">
        <div class="text-center col-md-8 col-lg-6 col-xl-4 p-5">
            <img src="../../../assets/Profile.jpeg" class="w-100 rounded-circle">
        </div>
        <div class="text-end col-md-8 col-lg-6 col-xl-4">
            <h1 class="mb-5">Quién Soy</h1>
            <p>¡Hola! Mi nombre es Lorenzo. Soy desarrollador de software y alumno de la Tecnicatura Superior en Programación en la UTN de Avellaneda, Argentina.</p>
            <p>Llevo un par de años trabajando en el rubro, tanto del lado del front-end como del back-end, y principalmente en el entorno de .NET</p>
            <p>En la UTN aprendí a utilizar lenguajes C, C#, PHP, HTML, CSS, JavaScript y TypeScript.</p>
            <p>Actualmente estoy aprendiendo a utilizar el framework de Angular, con el cual esta web está siendo principalmente desarrollada.</p>
        </div>
    </div>
</div>