<button type="button" routerLink="" class="btn btn-info m-2">&LessLess; Volver</button>
<button type="button" (click)="instrucciones = true" class="btn btn-secondary m-2">Instrucciones</button>
<div class="text-center">
    <div class="categorias justify-content-evenly">
        <button class="m-2 p-5 btn btn-info">Ciencia</button>
        <button class="m-2 p-5 btn btn-warning">Historia</button>
        <button class="m-2 p-5 btn btn-success">Deportes</button>
    </div>
</div>

<pantalla-victoria [flag]="ganaste" (reintentar)="ngOnInit()"></pantalla-victoria>
<pantalla-derrota [flag]="perdiste" (reintentar)="ngOnInit()"></pantalla-derrota>

<div *ngIf="instrucciones" style="backdrop-filter: brightness(0.4);" class="h-100 w-100 position-absolute top-0 start-0 d-flex justify-content-center align-items-center text-center">
    <div class="bg-primary px-4 pt-4 rounded-4 col-md-6">
        <h2 class="py-2">Instrucciones del Consultados</h2>
        <div class="text-start">
            <p class="text-white">El juego se compone de tres rondas.</p>
            <p class="text-white">Elegí entre tres categorías para iniciar la ronda.</p>
            <p class="text-white">Por cada ronda, te haremos una pregunta con cuatro opciones como respuesta.</p>
            <p class="text-white">Ganarás el juego si respondés bien las tres preguntas.</p>
            <p class="text-white">Cuando gustes, presioná el botón de Jugar.</p>
        </div>
        <button class="btn btn-info m-2" (click)="instrucciones = false">Jugar</button>
    </div>
</div>
